<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="org.wdc.test"
      version="0.1.0">
    <name>Calendar</name>
    <description>Sample PhoneGap Calendar Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,calendar</keywords>


    <js-module src="www/calendar.js" name="Calendar">
        <clobbers target="window.calendar" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Test">
                <param name="android-package" value="org.wdc.test.Test"/>
            </feature>
        </config-file>

        <source-file src="src/android/Test.java" target-dir="src/org/wdc/test" />      
     </platform>          
</plugin>