<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="org.wdc.Socket"
      version="0.1.0">
    <name>socket</name>
    <description>Sample PhoneGap socket Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,socket</keywords>


    <js-module src="www/Socket.js" name="Socket">
    <clobbers target="chrome.socket"/> 
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Socket">
                <param name="android-package" value="org.wdc.Socket.socket"/>
            </feature>
        </config-file>

        <source-file src="src/android/Socket.java" target-dir="src/org/wdc/socket" />      
     </platform>          
</plugin>