<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="org.wdc.socket"
      version="0.1.0">
    <name>socket</name>
    <description>Sample PhoneGap socket Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,socket</keywords>


    <js-module src="www/Socket.js" name="socket">
         <clobbers target="chrome.socket" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Socket">
                <param name="android-package" value="org.wdc.socket.socket"/>
            </feature>
        </config-file>

        <source-file src="src/android/socket.java" target-dir="src/org/wdc/socket" />    

          <js-module src="www/android/Socket.js" name="socket_android">
             <clobbers target="chrome.socket" />
         </js-module>
     </platform>          
</plugin>